$main-color: rgb(255, 216, 128);
$weak-color: rgb(100, 70, 32);
$black: rgb(20, 30, 50);
$body-text: 16;

* {
  all: unset;
}

.layout-box {
  font-family: "UDEV Gothic 35NF";
  background-color: $black;
  color: $main-color;
}

.bar-button {
  font-size: $body-text;
  padding: 0 10;
  margin: 0 2;
  margin-top: 2;
}

.bordered {
  background-color: $black;
  color: $main-color;
  border-radius: 4;
  border: 1px solid $main-color;
}
.bordered:hover {
  background-color: $weak-color;
}

.solid {
  background-color: $main-color;
  color: $black;
  border: 1px solid $main-color;
  border-radius: 4;
}

.hollow {
  background-color: $black;
  color: $main-color;
}
.hollow:hover {
  border: 1px solid $main-color;
  border-radius: 4;
}

.clock-container {
  color: $main-color;
  font-size: $body-text;
}
